<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <!--异常信息-->
    <logger name="ExecptionLoger">
      <level value="ERROR" />
      <appender-ref ref="ExecptionAppender" />
    </logger>
    <!--异常信息写入的文件-->
    <appender name="ExecptionAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="MyLog/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_Execption_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="1M" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %L %F [%x] - %m%n" />
      </layout>
    </appender>
    <!--自定义信息-->
    <logger name="CustomLoger">
      <level value="INFO" />
      <appender-ref ref="CustomAppender" />
    </logger>
    <!--自定义信息写入的文件-->
    <appender name="CustomAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="MyLog/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_Custom_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="1M" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %L %F [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
